@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

@mixin transition {
  transition: background-color 0.3s ease-in-out 0s;
}

.sidebar {
  position: relative;

  img {
    z-index: 1;
  }

  .steps-list__container {
    position: absolute;
    top: 30px;
    left: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .step-list-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .step-list-item > div > span {
    display: block;
    margin-bottom: 5px;
  }

  .step-item__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid v.$white;
    @include m.flexBox();
    @include transition();
  }

  .step-item__circle--active {
    color: black;
    background-color: v.$blue-200;
    border-color: v.$blue-200;
    font-weight: 600;
    @include transition();
  }

  .step-item__title {
    color: v.$grey-500;
    font-weight: 500;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
}

.checkboxes {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

mat-slide-toggle {
  margin-inline: 10px;
}

.billing-type-panel {
  width: 400px;
  background-color: v.$background;
  padding: 20px 20px;
  border-radius: 5px;
  @include m.flexBox();
}
