@use "./default.scss";

app-step {
  width: 1000px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar {
  position: relative;

  img {
    z-index: 1;
  }
}
