<section class="sidebar">
  <img src="../../assets/images/bg-sidebar-desktop.svg" alt="desktop sidebar" />
  <div class="steps-list__container">
    <div class="step-list-item" *ngFor="let step of steps">
      <div
        class="step-item__circle"
        [ngClass]="step.id === formState ? 'step-item__circle--active' : ''"
      >
        {{ step.id }}
      </div>
      <div>
        <span class="step-item__title">STEP {{ step.id }}</span>
        <span class="step_item__description">{{ step.description }}</span>
      </div>
    </div>
  </div>
</section>

<section class="main-content">
  <app-hero
    heading="Personal info"
    description="Please provide your name, email address and phone number."
  />
  <div class="inputs">
    <app-input
      label="Name"
      type="text"
      (handleChange)="handleChangeData('name', $event)"
    />
    <app-input
      label="Email Address"
      type="email"
      (handleChange)="handleChangeData('email', $event)"
    />
    <app-input
      label="Phone Number"
      type="number"
      (handleChange)="handleChangeData('phoneNumber', $event)"
    />
  </div>
</section>
