@use "../../../styles/variables.scss" as v;

button {
  border: 1px solid v.$grey-500;
  border-radius: 8px;
  width: 160px;
  padding: 20px;
  background-color: transparent;
  font-size: 17px;

  transition: background-color 0.1s ease-in-out 0s;

  img {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: v.$background;
    transition: background-color 0.1s ease-in-out 0s;
  }
}

.bold {
  font-weight: 600;
  margin-bottom: 6px;
}

.grey {
  color: v.$grey-500;
  margin-top: 6px;
}

.blue {
  color: v.$purple-600;
}

.border {
  border-color: v.$purple-600;
}
